{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  <a href="{{ card_product.url }}" class="nxt-course__card">
    <div class="nxt-course__thumbnail">
      <img
        class="nxt-course__card-image"
        src="{{ card_product.featured_image | img_url: '297x182' }}"
        alt="{{ card_product.title | escape }}"
        width="297"
        height="182"
        loading="lazy"
      >
    </div>

    <div class="nxt-course__card-content">
      <div class="nxt-course__card-info">
        <div class="nxt-course__card-category">
          {{ card_product.category }}
        </div>
        <div class="nxt-course__card-title">{{ card_product.title }}</div>
      </div>

      <div class="nxt-course__card-footer">
        <div class="nxt-course__card-rating">
          <svg class="nxt-course__card-rating-icon" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.141 13.2609L19.5634 10.0246C20.2702 9.37358 19.8795 8.18319 18.931 8.07159L14.095 7.43919L12.0676 3.17981C11.6584 2.30562 10.4122 2.30562 10.003 3.17981L7.90124 7.58799L3.23267 8.20179C2.28407 8.33199 1.89347 9.50378 2.60027 10.1548L6.15285 13.5027L5.29725 18.1342C5.12985 19.0827 6.11565 19.8082 6.97125 19.3432L11.2678 16.9995L15.397 19.2501C16.234 19.7151 17.2384 18.9897 17.071 18.0411L16.141 13.2609Z" fill="#F3EFDA"/>
          </svg>
          <div class="nxt-course__card-rating-text">
            {{ card_product.metafields.custom.rating | default: '4.7' }}
            {%- if card_product.metafields.custom.rating_count != blank -%}
              ({{ card_product.metafields.custom.rating_count }})
            {%- else -%}
              (23)
            {%- endif -%}
          </div>
        </div>
        <div class="nxt-course__card-duration">
          {{ card_product.metafields.custom.course_duration | default: '1H 18M' }}
        </div>
      </div>
    </div>
  </a>
{%- else -%}
  <a href="#" class="nxt-course__card">
    <div class="nxt-course__thumbnail">
      <img class="nxt-course__card-image" src="https://placehold.co/297x182" alt="Course Image">
    </div>

    <div class="nxt-course__card-content">
      <div class="nxt-course__card-info">
        <div class="nxt-course__card-category">{{ placeholder_image | default: 'Course Category' }}</div>
        <div class="nxt-course__card-title">Sample Course Title</div>
      </div>

      <div class="nxt-course__card-footer">
        <div class="nxt-course__card-rating">
          <svg class="nxt-course__card-rating-icon" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.141 13.2609L19.5634 10.0246C20.2702 9.37358 19.8795 8.18319 18.931 8.07159L14.095 7.43919L12.0676 3.17981C11.6584 2.30562 10.4122 2.30562 10.003 3.17981L7.90124 7.58799L3.23267 8.20179C2.28407 8.33199 1.89347 9.50378 2.60027 10.1548L6.15285 13.5027L5.29725 18.1342C5.12985 19.0827 6.11565 19.8082 6.97125 19.3432L11.2678 16.9995L15.397 19.2501C16.234 19.7151 17.2384 18.9897 17.071 18.0411L16.141 13.2609Z" fill="#F3EFDA"/>
          </svg>
          <div class="nxt-course__card-rating-text">4.7 (23)</div>
        </div>
        <div class="nxt-course__card-duration">1H 18M</div>
      </div>
    </div>
  </a>
{%- endif -%}
