{{ 'nxt-imageBox-section.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "SA Image Box Section",
  "tag": "section",
  "class": "nxt-imageBox__area",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Accelerate Your Talent Transformation At Scale"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Drive Growth Across Your Workforce with Interactive, Measurable Learning Experiences that Empower Your Employees"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 66
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 56
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#F3EFDA"
    }
  ],
  "blocks": [
    {
      "type": "imageBox",
      "name": "Image Box Card",
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": "Icon",
          "info": "Paste SVG Code Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Bridge Skills Gaps"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Empowers organizations to upskill and reskill their workforce in alignment with market demands."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SA Image Box Section",
      "category": "Image Box",
      "blocks": [
        {
          "type": "imageBox",
          "settings": {
            "title": "Bridge Skills Gaps",
            "description": "Empowers organizations to upskill and reskill their workforce in alignment with market demands."
          }
        },
        {
          "type": "imageBox",
          "settings": {
            "title": "Improve Talent Retention",
            "description": "Cultivates a culture of continuous learning and engagement to retain top talent."
          }
        },
        {
          "type": "imageBox",
          "settings": {
            "title": "Drive Digital Transformation",
            "description": "Equip teams with the skills to adapt to new technologies and lead innovation."
          }
        },
        {
          "type": "imageBox",
          "settings": {
            "title": "Future-Proof the Workforce",
            "description": "Enabling ability and resilience in an era of constant change."
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  .nxt-imageBox__area {
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top | times: 0.6 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.6 | round: 0 }}px;
    padding-left: 15px;
    padding-right: 15px;
  }
    @media (min-width: 768px) {
      .nxt-imageBox__area {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{% endstyle %}

<div class="nxt-container {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="nxt-talented__header">
    {% if section.settings.title != blank %}
      <h2 class="nxt-ib__title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
      <p class="nxt-ib__description">
        {{ section.settings.description }}
      </p>
    {% endif %}
  </div>

  <!-- Shared SVG definitions for all clip paths -->
  <svg class="nxt-talented__svg" width="0" height="0" style="position: absolute;">
    <defs>
        <clipPath id="rounded-imageBox" clipPathUnits="objectBoundingBox">
            <path d="M 0,0.114
                 Q 0,0.09 0.024,0.09
                 L 0.976,0
                 Q 1,0 1,0.024
                 L 1,0.976
                 Q 1,1 0.976,1
                 L 0.024,1
                 Q 0,1 0,0.976
                 L 0,0.114 Z" />
        </clipPath>
    </defs>
  </svg>

  <div class="nxt-imageBox__wrapper">
    {% for block in section.blocks %}
      <div class="nxt-imageBox__card">
        <div class="nxt-imageBox">
          {% if block.settings.icon != blank %}
            <div class="nxt-imageBox__icon">
              {{ block.settings.icon }}
            </div>
          {% endif %}
          <div class="nxt-imageBox__content">
            {% if block.settings.title != blank %}
              <h3 class="nxt-imageBox__title">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.description != blank %}
              <p class="nxt-imageBox__description">
                {{ block.settings.description }}
              </p>
            {% endif %}
          </div>
        </div>
        <div class="nxt-imageBox__shape"></div>
      </div>
    {% endfor %}
  </div>
</div>
