{{ 'talented-section.css' | asset_url | stylesheet_tag }}
{% schema %}
{
  "name": "SA Talented Section",
  "tag": "section",
  "class": "nxt-talented__area",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Accelerate Your Talent Transformation At Scale"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Drive Growth Across Your Workforce with Interactive, Measurable Learning Experiences that Empower Your Employees"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 130
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#3B132A"
    }
  ],
  "blocks": [
    {
      "type": "talented",
      "name": "Talented Card",
      "settings": [
        {
          "type": "select",
          "id": "image_style",
          "label": "Image Style",
          "default": "style-1",
          "options": [
            {
              "value": "style-1",
              "label": "Style 1"
            },
            {
              "value": "style-2",
              "label": "Style 2"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Elevate Talent Growth"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Build a workforce equipped to lead teams, implement"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
          "default": "\/collections\/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SA Talented Section",
      "category": "Image Box",
      "blocks": [
        {
          "type": "talented",
          "settings": {
            "button_text": "Explore Solutions"
          }
        },
        {
          "type": "talented",
          "settings": {
            "image_style": "style-2",
            "title": "Future-Proof Your Workforce",
            "description": "Equip your talent to adapt to evolving business demands",
            "button_text": "Start Your Journey"
          }
        },
        {
          "type": "talented",
          "settings": {
            "title": "Embrace an Ethical Culture",
            "description": "Provide essential training for your employees to",
            "button_text": "Learn How"
          }
        },
        {
          "type": "talented",
          "settings": {
            "image_style": "style-2",
            "title": "Unlock Your Career Potential",
            "description": "Develop mission-critical skills for growth with"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% style %}
  .nxt-talented__area {
    background-color: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top | times: 0.6 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.6 | round: 0 }}px;
    padding-left: 15px;
    padding-right: 15px;
  }
    @media (min-width: 768px) {
      .nxt-talented__area {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{% endstyle %}

<div class="nxt-container color-{{ section.settings.color_scheme }} gradient {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="nxt-talented__header">
    {% if section.settings.title != blank %}
      <h2 class="nxt-talented__title">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
      <p class="nxt-talented__description">
        {{ section.settings.description }}
      </p>
    {% endif %}
  </div>

  <!-- Shared SVG definitions for all clip paths -->
  <svg class="nxt-talented__svg" width="0" height="0" style="position: absolute;">
    <defs>
        <clipPath id="rounded-slant" clipPathUnits="objectBoundingBox">
            <path d="M 0.024,0
                 Q 0,0 0,0.024
                 L 0,0.976
                 Q 0,1 0.024,1
                 L 0.976,0.92
                 Q 1,0.92 1,0.896
                 L 1,0.104
                 Q 1,0.08 0.976,0.08
                 L 0.024,0 Z" />
        </clipPath>
        <clipPath id="rounded-slant-2" clipPathUnits="objectBoundingBox">
            <path d="M 0,0.104
                 Q 0,0.08 0.024,0.08
                 L 0.976,0
                 Q 1,0 1,0.024
                 L 1,0.976
                 Q 1,1 0.976,1
                 L 0.024,0.92
                 Q 0,0.92 0,0.896
                 L 0,0.104 Z" />
        </clipPath>
    </defs>
  </svg>

  <div class="nxt-grid__wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'talented' %}
        <div class="nxt-talented__card">
          <div class="nxt-talented__card-image {% if block.settings.image_style == 'style-2' %} nxt-talented-image-style-2 {% endif %}">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | image_url: width: 1000 }}" width="310" height="312" alt="Image">
            {% else %}
              <img src="https://placehold.co/310x312" width="310" height="312" alt="Image">
            {% endif %}
          </div>
          <div class="nxt-talented__card-content">
            {% if block.settings.title != blank %}
              <h3 class="nxt-talented__card-title">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.description != blank %}
              <p class="nxt-talented__card-description">
                {{ block.settings.description }}
              </p>
            {% endif %}
            {% if block.settings.button_text != blank %}
              <a href="{{ block.settings.button_link }}" class="nxt-talented__card-button">
                {{ block.settings.button_text }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
