{% style %}
  .rh_skillsoft-about-detail-card-sec {
  background-color: #ffffff;
  padding: {{ section.settings.padding_top }}px 20px {{ section.settings.padding_bottom }}px;
}

.rh_skillsoft-about-detail-card-sec .container_rh {
  max-width: 1300px;
  margin: 0 auto;
  padding: 45px 0;
  position: relative;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 28px;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card {
  width: 25%;
  background-color: #3b142a;
  padding: 20px 30px 35px;
  box-shadow: 0px 0px 0.59px 0px #0000000f;
  transition: all 0.3s ease;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_icon-image {
  width: 64px;
  height: 64px;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: normal;
  text-align: left;
  color: #f3efda;
  margin: 27px 0;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 31px;
  letter-spacing: normal;
  text-align: left;
  color: #f3efda;
  margin: 0 0 25px;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button {
  font-family: "Montserrat", sans-serif;  
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: normal;
  text-align: left;
  color: #f3efda;
  text-decoration: none;
  padding: 0px;
  display: inline-block;
  transition: color 0.3s ease;
}

.rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button:hover {
  color: #ff319f;
}

/* About Detail Card Section Responsive */
@media (max-width: 1200px) {
  .rh_skillsoft-about-detail-card-sec {
    padding: 80px 20px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh {
    gap: 20px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card {
    padding: 18px 25px 30px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-title {
    font-size: 22px;
    margin: 20px 0;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-description {
    font-size: 17px;
    line-height: 28px;
    margin: 0 0 20px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button {
    font-size: 17px;
    line-height: 26px;
  }
}

@media (max-width: 1024px) {
  .rh_skillsoft-about-detail-card-sec {
    padding: 70px 20px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh {
    gap: 16px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card {
    padding: 16px 20px 25px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_icon-image {
    width: 56px;
    height: 56px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-title {
    font-size: 20px;
    margin: 18px 0;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-description {
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 18px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .rh_skillsoft-about-detail-card-sec {
    padding: 50px 16px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh {
    flex-direction: column;
    gap: 20px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card {
    width: 100%;
    padding: 20px 25px 30px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_icon-image {
    width: 60px;
    height: 60px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-title {
    font-size: 22px;
    margin: 20px 0;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-description {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .rh_skillsoft-about-detail-card-sec {
    padding: 40px 12px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh {
    gap: 16px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card {
    padding: 18px 20px 25px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_icon-image {
    width: 50px;
    height: 50px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-title {
    font-size: 20px;
    margin: 16px 0;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-description {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 16px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 375px) {
  .rh_skillsoft-about-detail-card-sec {
    padding: 30px 10px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh {
    gap: 12px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card {
    padding: 16px 18px 22px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_icon-image {
    width: 45px;
    height: 45px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-title {
    font-size: 18px;
    margin: 14px 0;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-description {
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 14px;
  }
  
  .rh_skillsoft-about-detail-card-sec .rh_main_content_rh .rh_about-card .rh_about-card-button {
    font-size: 13px;
    line-height: 20px;
  }
}
{% endstyle %}
<div class="rh_skillsoft-about-detail-card-sec">
      <div class="container_rh">
        <div class="rh_main_content_rh">
          {% for block in section.blocks %}
            <div class="rh_about-card" {{ block.shopify_attributes }}>
              <div class="rh_icon-image">
                {% if block.settings.icon_image %}
                  <img src="{{ block.settings.icon_image | image_url: width: 64 }}" alt="{{ block.settings.icon_alt | default: block.settings.title }}" width="64" height="64">
                {% else %}
                  {% case block.settings.icon_type %}
                    {% when 'careers' %}
                      <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M58.7535 34.6346V56.4235C58.7535 57.4787 57.8738 58.3584 56.8177 58.3584H8.6244C7.56752 58.3584 6.68945 57.4884 6.68945 56.4235V34.9554M23.9789 15.9363V10.3904C23.9789 8.64792 25.4039 7.22217 27.1472 7.22217H38.2958C40.0383 7.22217 41.464 8.67599 41.464 10.3904V15.9363" stroke="#FF319F" stroke-width="0.80188" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.3852 38.9562C19.2685 38.552 11.1277 36.8953 3.85303 33.367L3.8851 17.9765C3.8851 16.9115 4.75515 16.0415 5.82005 16.0415H59.621C60.6859 16.0415 61.5559 16.914 61.5559 17.9765L61.588 32.9653C54.2668 36.8256 45.9424 38.5328 37.7287 38.9514" stroke="#FF319F" stroke-width="0.80188" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M29.2438 36.1833H36.197C36.7872 36.1833 37.2699 36.6661 37.2699 37.2563V42.0259C37.2699 42.6161 36.7872 43.0988 36.197 43.0988H29.2438C28.6536 43.0988 28.1709 42.6161 28.1709 42.0259V37.2563C28.1709 36.6661 28.6536 36.1833 29.2438 36.1833Z" stroke="#FF319F" stroke-width="0.80188" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    {% when 'awards' %}
                      <svg width="59" height="65" viewBox="0 0 59 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_249_1916)">
                          <path d="M28.5571 32.0657L10.677 1.14404H49.0802L31.3397 32.0657M18.0733 14.0564H41.7181M10.4476 1.14404L1.37402 12.1427L16.642 38.644M49.3104 1.14404L58.384 12.1427L43.1152 38.644M26.422 45.8857L30.4189 41.8897V53.1186M26.5266 53.7969H33.4862M29.8786 32.0068C38.8257 32.0068 46.0779 39.2591 46.0779 48.2062C46.0779 57.1533 38.8257 64.4055 29.8786 64.4055C20.9315 64.4055 13.6793 57.1533 13.6793 48.2062C13.6793 39.2591 20.9315 32.0068 29.8786 32.0068ZM29.8786 36.9342C36.1037 36.9342 41.1505 41.9811 41.1505 48.2062C41.1505 54.4313 36.1037 59.4781 29.8786 59.4781C23.6535 59.4781 18.6066 54.4313 18.6066 48.2062C18.6066 41.9811 23.6535 36.9342 29.8786 36.9342Z" stroke="#FF319F" stroke-width="0.878631" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_249_1916">
                            <rect width="57.8886" height="64.1429" fill="white" transform="translate(0.93457 0.703125)"/>
                          </clipPath>
                        </defs>
                      </svg>
                    {% when 'leadership' %}
                      <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M47.465 43.2169C46.101 36.5684 39.8334 31.5446 32.3109 31.5446C23.7965 31.5446 16.8931 37.9886 16.8931 45.9393C16.8931 48.2214 17.4616 50.3729 18.4744 52.2902C22.9369 52.6943 27.5702 52.9116 32.3101 52.9116C33.8594 52.9116 35.3974 52.8884 36.921 52.8435M46.8932 48.126V57.6957M51.6781 52.9108H42.1092M32.3101 29.8326C37.0453 29.8326 40.8871 25.9916 40.8871 21.262C40.8871 16.5325 37.0461 12.6963 32.3101 12.6963C27.5742 12.6963 23.738 16.5269 23.738 21.262C23.738 25.9972 27.5806 29.8326 32.3101 29.8326ZM19.7021 33.3809C17.9973 32.4227 16.0407 31.8958 13.9566 31.9351C7.37791 32.0602 2.04297 36.7288 2.04297 42.3652C2.04297 43.9835 2.4824 45.5552 3.26825 47.0162C6.6907 47.7299 10.2414 48.3369 13.8804 48.798C13.708 47.8614 13.6214 46.9079 13.6214 45.9393C13.6214 40.9331 15.9805 36.4377 19.7013 33.3809H19.7021ZM13.9566 30.5823C17.6084 30.4701 20.5745 27.1735 20.5745 23.225C20.5745 19.2766 17.6084 16.5117 13.9566 17.0489C10.3008 17.5862 7.33461 20.8747 7.33461 24.4014C7.33461 27.9281 10.3008 30.6946 13.9566 30.5823ZM62.5773 42.3661C62.5773 36.7288 57.2424 32.061 50.6637 31.9359C48.5812 31.8958 46.6254 32.4219 44.923 33.3777C48.6478 36.4361 51.0093 40.9315 51.0093 45.9401C51.0093 46.9087 50.9227 47.8622 50.7503 48.7964C54.3852 48.3369 57.9328 47.7299 61.352 47.017C62.1379 45.556 62.5773 43.9835 62.5773 42.3661ZM44.0754 22.5755C44.0818 22.525 44.085 22.4729 44.0898 22.4224C44.4627 18.9077 47.2645 16.5493 50.6637 17.0489C54.3195 17.5862 57.2865 20.8747 57.2865 24.4014C57.2865 27.9281 54.3195 30.6946 50.6637 30.5823C47.0119 30.4701 44.0457 27.1735 44.0457 23.225C44.0457 23.0037 44.0578 22.788 44.0762 22.5747L44.0754 22.5755Z" stroke="#FF319F" stroke-width="0.80188" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    {% when 'locations' %}
                      <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M52.8229 24.1569C52.8229 35.332 32.589 61.6579 32.589 61.6579C32.589 61.6579 12.355 35.332 12.355 24.1569C12.355 12.9818 21.4139 3.92212 32.589 3.92212C43.764 3.92212 52.8229 12.981 52.8229 24.1569Z" stroke="#FF319F" stroke-width="0.80188" stroke-linejoin="round"/>
                        <path d="M32.5888 35.4092C38.025 35.4092 42.4319 31.0023 42.4319 25.566C42.4319 20.1298 38.025 15.7229 32.5888 15.7229C27.1525 15.7229 22.7456 20.1298 22.7456 25.566C22.7456 31.0023 27.1525 35.4092 32.5888 35.4092Z" stroke="#FF319F" stroke-width="0.80188" stroke-linejoin="round"/>
                      </svg>
                    {% else %}
                      <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="64" height="64" rx="8" fill="#FF319F" fill-opacity="0.1"/>
                        <path d="M32 16L40 32L32 48L24 32L32 16Z" fill="#FF319F"/>
                      </svg>
                  {% endcase %}
                {% endif %}
              </div>
              <div class="rh_about-card-title">
                <span>{{ block.settings.title }}</span>
              </div>
              <div class="rh_about-card-description">
                <span>{{ block.settings.description }}</span>
              </div>
              {% if block.settings.button_text and block.settings.button_url %}
                <a href="{{ block.settings.button_url }}" class="rh_about-card-button">{{ block.settings.button_text }}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

{% schema %}
{
  "name": "About Detail Cards",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 20,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Top Padding",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 20,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon Image",
          "info": "Upload a custom icon image (64x64px recommended)"
        },
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon Type",
          "options": [
            {
              "value": "careers",
              "label": "Careers"
            },
            {
              "value": "awards",
              "label": "Awards"
            },
            {
              "value": "leadership",
              "label": "Leadership"
            },
            {
              "value": "locations",
              "label": "Locations"
            },
            {
              "value": "custom",
              "label": "Custom"
            }
          ],
          "default": "careers",
          "info": "Choose a predefined icon or use custom image"
        },
        {
          "type": "text",
          "id": "icon_alt",
          "label": "Icon Alt Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "CAREERS"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Our teams are growing fast and looking for amazing people to join us! We have an open, collaborative workspace where we encourage camaraderie and celebrate teamwork."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More >"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Detail Cards",
      "blocks": [
        {
          "type": "card",
          "settings": {
            "icon_type": "careers",
            "title": "CAREERS",
            "description": "Our teams are growing fast and looking for amazing people to join us! We have an open, collaborative workspace where we encourage camaraderie and celebrate teamwork.",
            "button_text": "Learn More >"
          }
        },
        {
          "type": "card",
          "settings": {
            "icon_type": "awards",
            "title": "AWARDS",
            "description": "With over 20 years of industry knowledge and experience, we are the global leader in cloud-based learning.",
            "button_text": "View Awards >"
          }
        },
        {
          "type": "card",
          "settings": {
            "icon_type": "leadership",
            "title": "LEADERSHIP",
            "description": "We've helped over 1.5 million learners grow into new roles and develop new skills essential for their success.",
            "button_text": "View Leadership >"
          }
        },
        {
          "type": "card",
          "settings": {
            "icon_type": "locations",
            "title": "OUR LOCATIONS",
            "description": "We're here for you at our locations across the globe – from North America to Europe, the Middle East, Africa, and the Asia-Pacific region.",
            "button_text": "View Locations >"
          }
        }
      ]
    }
  ]
}
{% endschema %}

